# Use sudo with aliases
alias sudo="sudo "

# Shell
alias rsh="exec $SHELL -l"

# Network
alias cleardns="sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
alias ip="curl https://v4.ifconfig.co"
alias ipv6="curl https://v6.ifconfig.co"
alias lip="ipconfig getifaddr en0"
alias lswifi="airport -s"
alias pingtest="ping -c 5 google.de"

# Mercurial
alias hglg="hg log -G --pager always --color always --template '\033[0;31m{node|short} \033[0;34m{author|person} - \033[0;33m{tags} {bookmarks} {branches} \033[0m{desc|firstline|strip} \033[0;32m({date|age})\033[0m\n'"
alias hgo="hg outgoing -G --pager always --color always --template '\033[0;31m{node|short} \033[0;34m{author|person} - \033[0;33m{tags} {bookmarks} {branches} \033[0m{desc|firstline|strip} \033[0;32m({date|age})\033[0m\n'"
alias hgrpt="hg log --pager always --no-merges -d 'today' -u 'Benny Peckruhn' --template '\033[0;33m{bookmarks} {branches} \033[0m{desc|firstline|strip} \033[0;32m({date|age})\033[0m\n'"
alias hgrpy="hg log --pager always --no-merges -d 'yesterday' -u 'Benny Peckruhn' --template '\033[0;33m{bookmarks} {branches} \033[0m{desc|firstline|strip} \033[0;32m({date|age})\033[0m\n'"
alias hgslg="hg log -l 10 --color always --template '\033[0;33m{node|short} {branches} {tags} \033[0;34m{author|person} \033[0m{desc|firstline} \033[0;32m({date|age})\n'"
alias hgdaily="hg log --color always -r \"date('-4') and author('Benny Peckruhn')\"  --template '\''\033[0;33m{node|short} {branches} {tags} \033[0;34m{author|person} \033[0m{desc|firstline} \033[0;32m({date|age})\n'"

