# General
alias sudo="sudo "
alias batt="pmset -g batt | egrep \"([0-9]+\%).*\" -o --colour=auto | cut -f1 -d';'"
alias airport="/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport"
alias lswifi="airport -s"
alias ip="curl https://v4.ifconfig.co"
alias ipv6="curl https://v6.ifconfig.co"
alias lip="ipconfig getifaddr en0"
alias pingtest="ping -c 5 google.de"
alias cleardns="sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder"

# ZSH
alias zshconfig="subl ~/.zshrc"
alias ohmyzsh="subl ~/.oh-my-zsh"

alias zshrcrf="source ~/.zshrc"

# Navigation
alias projects="cd ~/Sites/Arbeit/"
alias freya="cd ~/Sites/Arbeit/freya"

# Weather
alias weather="curl http://wttr.in/\?0q" # 0 = only current weather, q = quiet version (no "Weather report" text)

# Mercurial
alias hgar="hg addremove"
alias hgb="hg branch"
alias hgbs="hg branches"
alias hgca="hg commit --amend"
alias hgc="hg commit -m"
alias hgci="hg commit -im"
alias hgcl="hg commit --close-branch -m"
alias hgd="hg diff"
alias hgi="hg incoming"
alias hgl="hg pull"
alias hglg="hg log -G --pager always --color always --template '\033[0;31m{node|short} \033[0;34m{author|person} - \033[0;33m{tags} {bookmarks} {branches} \033[0m{desc|firstline|strip} \033[0;32m({date|age})\033[0m\n'"
alias hgm="hg merge"
alias hgo="hg outgoing -G --pager always --color always --template '\033[0;31m{node|short} \033[0;34m{author|person} - \033[0;33m{tags} {bookmarks} {branches} \033[0m{desc|firstline|strip} \033[0;32m({date|age})\033[0m\n'"
alias hgp="hg push"
alias hgpg="hg purge"
alias hgpn="hg push --new-branch"
alias hgrp="hg log --pager always --no-merges -d 'today' --style compact -u 'Benny Peckruhn'"
alias hgr="hg id -ir master | pbcopy"
alias hgs="hg status"
alias hgslg="hg log -l 10 --color always --template '\033[0;33m{node|short} {branches} {tags} \033[0;34m{author|person} \033[0m{desc|firstline} \033[0;32m({date|age})\n'"
alias hgu="hg up"
alias hguc="hg up --clean"

# Vagrant
alias vh="vagrant halt"
alias vp="vagrant provision"
alias vr="vagrant reload"
alias vs="vagrant ssh"
alias vst="vagrant status"
alias vu="vagrant up"
